@charset "UTF-8";

header {
  width: 100%;
  display: inline-block;
}

header .logo {
  color: #00a2ff;
  position: absolute;
  padding: 10px 0 0 20px;
}

header .navbar ul {
  color: #00a2ff;
  display: flex;
  float: right;
  position: relative;
}

header .navbar ul li {
  margin: 10px 20px;
}

header .navbar ul li a {
  color: #555;
  font-weight: bold;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #5B8FAD;
}

.top {
  text-align: center;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .inner {
  display: inline-block;
  z-index: 2;
  margin-right: 100px;
  bottom: 250px;
}

.font1 {
  text-align: left;
  margin-top: 100px;
  margin-right: 450px;
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: bold;
  color: #00a2ff;
}

.achievement {
  width: 25%;
  float: left;
  margin-left: 80px;
}

.achievement img {
  width: 255px;
  height: 255px;
  margin-left: 30px;
}

.achievement h1 {
  text-align: center;
}

.achievement h2 {
  text-align: center;
}

.achievement p {
  text-align: center;
  width: 90%;
}

.point {
  margin-top: 500px;
}

.title {
  margin-bottom: 30px;
}

.title h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.title p {
  text-align: center;
  font-size: 25px;
}

.supports {
  width: 70%;
  margin: 0 auto;
}

.support {
  height: 250px;
}

.support img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 5%;
}

.paragraph {
  width: 70%;
  float: left;
}

.paragraph h1 {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.btn {
  color: black;
  background-color: #00a2ff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 500px;
  font-size: large;
  font-weight: 600;
  margin: 0 400px;
}

.contact {
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.contact-table {
  width: 100%;
  margin-bottom: 20px;
}

.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
}

.contact-item {
  text-align: left;
  width: 30%;
  background-color: #eee;
}

.contact-body {
  width: 70%;
}

.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.form-textarea {
  width: 90%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} 

.contact-table th {
  
}